@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;1,900&display=swap');
*{
    font-family: 'Poppins',cursive;
}
body {
  margin: 0;
  padding: 0;
  height: 100vh;

  background-image: url("background83teacher.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  font-family: "Great Vibes", cursive;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.botones{
    padding: 9px;
    border-radius: 80px;
    background-color: transparent;
    border: none;
}

.botones a{
    background-color: #0a2be9;
    padding: 9px;
    border-radius: 80px;
    -webkit-border-radius: 80px;
    -moz-border-radius: 80px;
    -ms-border-radius: 80px;
    -o-border-radius: 80px;

}

.botones a:focus{
    background-color: rgb(50, 194, 194);
}

@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

.greetings {
    font-family: 'Great Vibes', cursive;
    font-size: 2rem;
    font-weight: 400;
    color: #ff69b4;
}

.greetings > span {
    animation: glow 2s ease-in-out infinite;
}

@keyframes glow {
    0%, 100% {
        color: #fff0f6;
        text-shadow: 0 0 12px #ff5bbd, 0 0 50px #ff80d0, 0 0 100px #ffb3e0;
    }
    50%, 90% {
        color: #ff69b4;
        text-shadow: none;
    }
}

.greetings > span{
    animation: glow 2.5s ease-in-out infinite;
}
@keyframes glow{
    0%, 100%{
        color: #fff;
        text-shadow: 0 0 12px #8448de, 0 0 50px #ee54f3, 0 0 100px #8f1f55;
    }
    10%, 90%{
        color: #a79fa5;
        text-shadow: none;
    }
}
.greetings > span:nth-child(1) { animation-delay: 0.2s; }
.greetings > span:nth-child(2) { animation-delay: 0.6s; }
.greetings > span:nth-child(3) { animation-delay: 1s; }
.greetings > span:nth-child(4) { animation-delay: 1.4s; }

.description{
    font-family: 'Playfair Display', serif;
    font-size: 2.7rem;
    margin-bottom: 20px;

    text-transform: uppercase; /* chữ hoa */
    letter-spacing: 3px;

    background: linear-gradient(90deg, #4facfe, #a855f7); /* lam → tím */
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;

    font-weight: 700;
}

.button a{
    text-decoration: none;
    font-size: 1rem;
    color: #111;
}

@media screen and (max-width:574px){
    .greetings{
        display: block;
        font-size: 4rem;
        font-weight: 800;
        text-align: center;
    }
    .description{
        font-size: 2rem;
    }
    
    .button a{
        font-size: 1rem;
    }

}